[data-theme="light"] {
    --bg-dark: #f8fafc;
    --bg-card: rgba(255, 255, 255, 0.7);
    --bg-sidebar: rgba(248, 250, 252, 0.85);

    --text-main: #0f172a;
    --text-muted: #64748b;

    --glass-border: 1px solid rgba(0, 0, 0, 0.1);
    --glass-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
}